.card{
    &__parents{
        display: flex;
        width: 100%;

        * {
            width: 50%;
        }
    }

    &__field {
        padding: 8px;
        border: 1px solid white;
        border-collapse: collapse;
    }

    &__parents *, &__children *{
        &:hover {
            
            .card__button {
                color: rgb(134, 134, 255);
                cursor: pointer;
            }
        } 
    }
}